@model Nuran_Example.Models.ExampleViewModel

@{
    ViewData["Title"] = "JSSelectExample";
}

<form asp-controller="Home" asp-action="JSSelectExample">
    <div class="row">
        <div class="col-md-12" id="jsSelectListContainer"></div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>

@section scripts{
    <script>
        $(function () {
            var selectListItems = JSON.parse('@Html.Raw(Json.Serialize(Model.SelectList))');
            var select = document.createElement('select');
            select.name = 'ThingId';
            select.classList.add('form-control');
            select.appendChild(new Option('--Select One--', null, false, false));
            for (var i = 0; i < selectListItems.length; i++)
                select.appendChild(new Option(selectListItems[i].text, selectListItems[i].value, false, selectListItems[i].selected));
            var selectContainer = document.getElementById('jsSelectListContainer');
            var label = document.createElement('label');
            label.innerHTML = 'Select list using JS';
            selectContainer.appendChild(label);
            selectContainer.appendChild(select);

            var selected = @Html.Raw(Json.Serialize(Model.ThingId));
            if (selected)
                alert(`The selected option from the JS select list has a value of: ${selected}`);
        });
    </script>
}